/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3.5rem;
  --nav-width: 68px;

  /*===== Colors =====*/
  --first-color: #4723D9;
  --first-color-light: #AFA5D9;
  --title-color: #000000;
  --white-color: #F7F6FB;
  --body-color: #eaeaea;
  
  /*===== Font and typography =====*/
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: 1rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}

/*=== Base ====*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

input,
textarea,
button,
body{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body{
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
  background-color: var(--body-color);
}

input,
textarea,
select,
button{
  outline: none;
  border: none;
}

h1,h2,h3,h4{
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img,
svg{
  max-width: 100%;
  height: auto;
}

/*========== HEADER & NAV ==========*/
.header{
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: .5s;
}

.header__toggle{
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.l-navbar{
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo, .nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav__logo{
  margin-bottom: 2rem;
}

.nav__logo-name{
  color: var(--white-color);
  font-weight: 700;
}

.nav__logo-icon{
  font-size: 1.5rem;
  color: var(--white-color);
}

.nav__link{
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: .3s;
}

.nav__link:hover{
  color: var(--white-color);
}

.nav__icon{
  font-size: 1.5rem;
}

/*Show navbar movil*/
.show{
  left: 0;
}

/*Add padding body movil*/
.body-pd{
  padding-left: calc(var(--nav-width) + 1rem);
}

/*Active links*/
.active{
  color: var(--white-color);
}

.active::before{
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

/* main body section */
.main--content {
  position: relative;
  width: 100%;
  padding: 1rem;
}

.header--wrapper img{
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
}

.header--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 10px;
  padding: 10px 2rem;
  margin-bottom: 1rem
}

.header--title {
  color: #000000;
}

.user--info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* card container section */

.card--container {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
}

.card--wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.main--title {
  color: #000000;
  padding-bottom: 10px;
  font-size: 15px;
}

.data--card {
  background: var(--body-color);
  border-radius: 10px;
  padding: 1.2rem;
  width: 290px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
}

.link--card {
  color: #000000;
}

.link--card:hover {
  color: #4723D9;
  transition: .3s ease-in;
}

.data--card:hover {
  transform: translateY(-5px);
}

.card--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.amount {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1rem;
  font-weight: 200;
}

.amount--value {
  font-size: 4rem;
  font-weight: 600;
}

/* tabular section */

.tabular--wrapper {
  background: #fff;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 2rem;
}

.main--title button {
  background-color: green;
  padding: .5rem;
  border-radius: 5px;
  color: white;
}

.main--title button:hover {
  background-color: rgb(44, 170, 44);
  transition: .3s ease;
}

.table--container {
  width: 100%;
  overflow-x: auto; /* Tambahkan scroll horizontal jika tabel terlalu lebar */
  white-space: nowrap;
}


.search--box {
  background: rgb(237,237,237);
  border-radius: 15px;
  color: rgba(113,99,186,255);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px 12px;
  margin-bottom: 1rem;
}

.search--box input {
  background: transparent;
  padding: 10px;
  width: 100%;
}

.search--box i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.search--box i:hover {
  transform: scale(1.2);
}


table {
  max-width: 100%;
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;

}

thead {
  background: #4723D9;
  color: #fff;
}

th {
  padding: 1rem;
  text-align: left;
}

tbody {
  background: var(--body-color);
}

td {
  padding: 15px;
  font-size: 14px;
  color: #333;
}

tr:nth-child(even) {
  background: #fff;
}

tfoot{
  background: #4723D9;
  font-weight: bold;
  color: #fff;
}

tfoot td {
  padding: 15px;
  color: #fff;
}

.table--container a {
  cursor: pointer;
}

.table--container td div a{
  margin-right: 1rem;
}

.table--container td a:nth-child(1) {
  color: green;
}

.table--container td a:nth-child(2) {
  color: blue;
}

.table--container td a:nth-child(3) {
  color: red;
}

/* tabular section */
.table--container {
  position: relative;
  display: grid;
  align-items: center;
}

.table--container form {
  position: relative;
  background-color: #eaeaea;
  padding: 2.5rem 1rem;
  color: var(--black-color);
  border-radius: .5rem;
}

.login__title{
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 1.25rem;
}

.login__inputs,
.login__box {
  display: grid;
}

.login__inputs {
row-gap: 1.25rem;
margin-bottom: 1rem;
}

.login__box {
  grid-template-columns: 1fr max-content;
  column-gap: .75rem;
  align-items: center;
  border: 2px solid hsla(0, 0%, 0%, .7);
  padding-inline: 1.25rem;
  border-radius: 4rem;
}

.login__input,
.login__button {
  border: none;
  outline: none;
}

.login__input {
  width: 100%;
  background-color: transparent;
  color: var(--black-color);
  padding-block: 1rem;
}


.form__container{
  padding-top: 1rem;
}

.contact__form,
.contact__group{
  display: grid;
  row-gap: 1rem;
}

.contact__form{
  position: relative;
}

.contact__input{
  padding: 1rem 1.25rem;
  border-radius: .5rem;
  background-color: var(--body-color);
  color: var(--title-color);
}

.contact__input::placeholder{
  color: var(--text-color);
}

.contact__form textarea{
  height: 11rem;
  resize: none;
  margin-bottom: 2rem;
}

.contact__button {
  background-color: #4723D9;
  padding: 1rem;
  border-radius: 10px;
  color: white;
}

.contact__button{
  justify-self: center;
  cursor: pointer;
}

.contact__message{
  position: absolute;
  left: 0;
  bottom: 4.5rem;
  font-size: var(--small-font-size);
  color: var(--title-color);
}


.login__input::placeholder{
  color: var(--black-color);
}

.pagination{
  margin-bottom: 1rem;
}

.pagination__content{
  display: inline-block;
}

.pagination__content a {
  color: white;
  padding: 8px 16px;
  transition: background-color .3s;
  border: 1px solid #4723D9;
  background-color: #4723D9;
}

.pagination__content a:hover {
  background-color: #2e01df;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 1rem);
  }

  .header{
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }
  
  .l-navbar{
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  
  /*Show navbar desktop*/
  .show{
    width: calc(var(--nav-width) + 156px);
  }

  /*Add padding body desktop*/
  .body-pd{
    padding-left: calc(var(--nav-width) + 188px);
  }
  
  .contact__group{
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.5rem;
  }
}


